<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tenantmanager">
    <uses-permission android:name="android.permission.CALL_PHONE">

    </uses-permission>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">

    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/rent"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rent"
        android:supportsRtl="true"
        android:theme="@style/Theme.TenantManager">

        <activity android:name="com.omkar.tenantmanager.activity.AddNewTenantActivity"
            android:exported="true">

        </activity>

        <activity android:name="com.omkar.tenantmanager.activity.FirstScreenActivity"
            android:exported="true">

        </activity>

        <activity android:name="com.omkar.tenantmanager.activity.PaymentListActivity"
            android:exported="true">

        </activity>

        <activity android:name="com.omkar.tenantmanager.activity.RentListActivity"
            android:exported="true">

        </activity>

        <activity android:name="com.omkar.tenantmanager.activity.TenantListActivity"
            android:exported="true">

        </activity>

        <activity android:name="com.omkar.tenantmanager.activity.PaymentsActivity"
            android:exported="true">

        </activity>


        <activity android:name="com.omkar.tenantmanager.activity.AddNewRentActivity"
            android:exported="true">

        </activity>

        <activity android:name="com.omkar.tenantmanager.activity.UpdateActivity"
            android:exported="true">

        </activity>

        <activity android:name="com.omkar.tenantmanager.activity.UpdateReceiptActivity"
            android:exported="true">

        </activity>
        <activity android:name="com.omkar.tenantmanager.activity.UpdateRentActivity"
            android:exported="true">

        </activity>

        <activity android:name="com.omkar.tenantmanager.activity.TenantReceiptActivity"
            android:exported="true">

        </activity>

        <activity android:name="com.omkar.tenantmanager.activity.SplashScreenActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>